<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Cryptography</title>
    <link rel="stylesheet" href="../static/styles.css">
    <style>
      
      body {
            background: url('../static/background.jpg') no-repeat center center fixed;
            background-size: cover;
            font-family: Arial, sans-serif;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <div class="left-header">
                <h1>Quantum Cryptography Key Distribution</h1>
            </div>
            <nav class="right-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="loginpage">Login</a></li>
                    <li><a href="registerpage">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="content">
            <h2>Welcome to Quantum Cryptography</h2>
            <p>Explore the fascinating world of secure key distribution using quantum principles. Start by logging in or registering for access to advanced tools and resources.</p>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Quantum Cryptography. All Rights Reserved.</p>
    </footer>
</body>
</html>
